<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/styles")


    @Scripts.Render("~/bundles/scripts")
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

</head>
<body>
    <div class="navbar navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="logo clickable pull-left" onclick="loadPage('/Product/GetProducts', {}, '#mainContent');">
                    <img src="~/img/logo.png" height="50" />
                </div>

                <div id="cartTab" class="cartTab clickable pull-right" onclick="showCartMiniDetail(); return false;" title="View cart">
                    <span id="totalProducts" class="badge totalProducts">0</span>
                    <img src="~/img/icons/addtocart.png" width="50" height="50" />
                </div>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>





    @RenderSection("scripts", required: false)
</body>
</html>
